<!DOCTYPE html>
<html>
<head>
    <title>Effective Rent</title>
    <meta charset="utf-8" />
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <div ng-app="effectiveRentApp" ng-controller="effectiveRentController">
        <h1>Parameters</h1>
        <br />
        <table id="parameters" border="1">
            <tr>
                <th colspan="2">House</th>
                <th colspan="2">Mortgage</th>
                <th colspan="2">Other</th>
            </tr>
            <tr>
                <td>Purchase Price</td>
                <td>
                    <input ng-model="purchasePrice" type="number" min="0" step="1">
                </td>
                <td>Percent Down</td>
                <td>
                    <input ng-model="percentDown" type="number" min="0" max="100" step="1">
                </td>
                <td>Marginal Tax Rate</td>
                <td>
                    <input ng-model="marginalTaxRate" type="number" min="0" max="100" step="1">
                </td>
            </tr>
            <tr>
                <td>Closing Costs</td>
                <td>
                    <input ng-model="closingCosts" type="number" min="0" step="1">
                </td>
                <td>Interest Rate</td>
                <td>
                    <input ng-model="interestRate" type="number" min="0" step="0.01">
                </td>
                <td>Inflation Rate</td>
                <td>
                    <input ng-model="inflationRate" type="number" min="0">
                </td>
            </tr>
            <tr>
                <td>Monthly Expenses</td>
                <td>
                    <input ng-model="monthlyExpenses" type="number" min="0">
                </td>
                <td>Term</td>
                <td>
                    <input ng-model="term" type="number">
                </td>
                <td>Return on Investments</td>
                <td>
                    <input ng-model="returnOnInvestments" type="number" min="0">
                </td>
            </tr>
            <tr>
                <td>Property Tax Rate</td>
                <td>
                    <input ng-model="propertyTaxRate" type="number" min="0">
                </td>
                <td></td>
                <td></td>
                <td>Time Horizon</td>
                <td>
                    <input ng-model="timeHorizon" type="number" min="1">
                </td>
            </tr>
            <tr>
                <td>Appreciation Rate</td>
                <td>
                    <input ng-model="appreciationRate" type="number" min="0">
                </td>
            </tr>
        </table>
        <br />
        <h1>Results</h1>
        <br />
        <table id="results" border="1">
            <tr>
                <th />
                <th>Opportunity Cost</th>
                <th>Effective Monthly Expense</th>
            </tr>
            <tr>
                <td>Downpayment</td>
                <td>{{downpaymentOpportunityCost()}}</td>
                <td>{{downpaymentEffectiveExpense()}}</td>
            </tr>
            <tr>
                <td>Closing Costs</td>
                <td>{{closingOpportunityCost()}}</td>
                <td>{{closingEffectiveExpense()}}</td>
            </tr>
            <tr>
                <td>Mortgage Payments</td>
                <td>{{mortgagePaymentOpportunityCost()}}</td>
                <td>{{mortgagePaymentEffectiveExpense()}}</td>
            </tr>
            <tr>
                <td>Monthly Expenses</td>
                <td>{{monthlyExpensesOpportunityCost()}}</td>
                <td>{{monthlyExpensesEffectiveExpense()}}</td>
            </tr>
            <tr>
                <td>Property Taxes</td>
                <td>{{propertyTaxOpportunityCost()}}</td>
                <td>{{propertyTaxEffectiveExpense()}}</td>
            </tr>
            <tr>
                <td>Remaining Principal</td>
                <td>{{remainingPrincipalOpportunityCost()}}</td>
                <td>{{remainingPrincipalEffectiveExpense()}}</td>
            </tr>
            <tr>
                <th />
                <th>Asset Value</th>
                <th>Effective Monthly Income</th>
            </tr>
            <tr>
                <td>House Value</td>
                <td>{{houseValue()}}</td>
                <td>{{houseEffectiveIncome()}}</td>
            </tr>
            <tr>
                <td>Tax Refunds</td>
                <td>{{taxRefundValue()}}</td>
                <td>{{taxRefundEffectiveIncome()}}</td>
            </tr>
            <tr>
                <th />
                <th>Opportunity Cost</th>
                <th>Effective Monthly Expense</th>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{totalOpportunityCost()}}</td>
                <td>{{totalEffectiveExpense()}}</td>
            </tr>
        </table>
    </div>
    <script src="Functions.js"></script>
    <script src="HousePurchase.js"></script>
    <script>
        var app = angular.module('effectiveRentApp', []);
        app.controller('effectiveRentController', function($scope) {
            $scope.purchasePrice = 650000;
            $scope.closingCosts = 15000;
            $scope.monthlyExpenses = 700;
            $scope.propertyTaxRate = 1;
            $scope.appreciationRate = 3;
            $scope.percentDown = 20;
            $scope.interestRate = 6;
            $scope.term = 30;
            $scope.marginalTaxRate = 28;
            $scope.inflationRate = 3;
            $scope.returnOnInvestments = 6;
            $scope.timeHorizon = 40;
            $scope.downpayment = function () {
                return $scope.purchasePrice * $scope.percentDown / 100;
            }
            $scope.principal = function () {
                return $scope.purchasePrice - $scope.downpayment();
            }
            $scope.mortgagePayment = function () {
                return Payment($scope.principal(), ToMonthlyRate($scope.interestRate / 100), $scope.term * 12);
            }
            $scope.downpaymentOpportunityCost = function () {
                return Math.round(DownpaymentOpportunityCost($scope.downpayment(), $scope.returnOnInvestments / 100, $scope.timeHorizon));
            }
            $scope.closingOpportunityCost = function () {
                return Math.round(ClosingOpportunityCost($scope.closingCosts, $scope.returnOnInvestments / 100, $scope.timeHorizon));
            }
            $scope.mortgagePaymentOpportunityCost = function () {
                return Math.round(MortagePaymentOpportunityCost($scope.mortgagePayment(), $scope.term, $scope.returnOnInvestments / 100, $scope.timeHorizon));
            }
            $scope.monthlyExpensesOpportunityCost = function () {
                return Math.round(MonthlyExpensesOpportunityCost($scope.monthlyExpenses, $scope.inflationRate / 100, $scope.returnOnInvestments / 100, $scope.timeHorizon));
            }
            $scope.propertyTaxOpportunityCost = function () {
                return Math.round(PropertyTaxOpportunityCost($scope.purchasePrice, $scope.propertyTaxRate / 100, $scope.appreciationRate / 100, $scope.returnOnInvestments / 100, $scope.timeHorizon));
            }
            $scope.remainingPrincipalOpportunityCost = function () {
                return Math.round(RemainingPrincipal($scope.mortgagePayment(), $scope.principal(), $scope.interestRate / 100, $scope.term, $scope.timeHorizon));
            }
            $scope.houseValue = function () {
                return Math.round(HouseValue($scope.purchasePrice, $scope.appreciationRate / 100, $scope.timeHorizon));
            }
            $scope.taxRefundValue = function () {
                return Math.round(TaxRefundValue($scope.principal(), $scope.mortgagePayment(), $scope.interestRate / 100, $scope.term, $scope.marginalTaxRate / 100, $scope.returnOnInvestments / 100, $scope.timeHorizon));
            }
            $scope.totalOpportunityCost = function () {
                return $scope.downpaymentOpportunityCost()
                + $scope.closingOpportunityCost()
                + $scope.mortgagePaymentOpportunityCost()
                + $scope.monthlyExpensesOpportunityCost()
                + $scope.propertyTaxOpportunityCost()
                + $scope.remainingPrincipalOpportunityCost()
                - $scope.houseValue()
                - $scope.taxRefundValue();
            }
            $scope.monthlyInflationRate = function () {
                return ToMonthlyRate($scope.inflationRate / 100);
            }
            $scope.monthyReturnOnInvestmentsRate = function () {
                return ToMonthlyRate($scope.returnOnInvestments / 100);
            }
            $scope.months = function () {
                return 12 * $scope.timeHorizon;
            }
            $scope.downpaymentEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.downpaymentOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.closingEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.closingOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.mortgagePaymentEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.mortgagePaymentOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.monthlyExpensesEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.monthlyExpensesOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.propertyTaxEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.propertyTaxOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.remainingPrincipalEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.remainingPrincipalOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.houseEffectiveIncome = function () {
                return Math.round(EffectiveMonthlyCost($scope.houseValue(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.taxRefundEffectiveIncome = function () {
                return Math.round(EffectiveMonthlyCost($scope.taxRefundValue(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
            $scope.totalEffectiveExpense = function () {
                return Math.round(EffectiveMonthlyCost($scope.totalOpportunityCost(), $scope.monthlyInflationRate(), $scope.monthyReturnOnInvestmentsRate(), $scope.months()));
            }
        });
    </script>
</body>
</html>
